body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section {
  height: calc(100vh - 50px);
  overflow: auto;
}

.bottom-nav {
  display: flex;
  color:white;
  background-color: rgb(19, 19, 19);
  height: 50px;
  justify-content: space-around;
  align-items: center;
}